#define WIN32_LEAN_AND_MEAN
#include <windows.h>

#include "..\libversion.h"

1 VERSIONINFO
	
FileVersion    LIB_VMAJOR, LIB_VMINOR, LIB_VBUILD, 0
ProductVersion LIB_VMAJOR, LIB_VMINOR, LIB_VBUILD, 0

{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		//language ID = U.S. English, char set = Windows, Multilingual
		{
			VALUE "CompanyName", "Newland Auto-ID"
			VALUE "ProductName",	 "mm_snprintf string formatting lib"
			VALUE "FileDescription", "mm_snprintf " gmp_COMPILER_CIDVER_str
			VALUE "FileVersion",    LIB_VMAJORs "." LIB_VMINORs "." LIB_VBUILDs ".0"
			VALUE "ProductVersion",	LIB_VMAJORs "." LIB_VMINORs "." LIB_VBUILDs ".0"
			VALUE "LegalCopyright",	"NLscan and Mark Martinec"
			VALUE "OriginalFilename" , "mm_snprintf"
			VALUE "InternalName", "mm_snprintf"
			VALUE "Comments","Presented by NLSCAN"
		}
	}
  
	BLOCK "VarFileInfo"
	{
    	VALUE "Translation", 0x0409, 1252
	}
}
